@model Project4Aptech.Models.Account

@{
    ViewBag.Title = "ChuyenTien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
}

<h2>ChuyenTien</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        <input type="hidden" name="idSend" value="@id" class="form-control" />
        <div class="form-group">
            <label class="control-label col-md-2"> Nhap so tien: </label>
            <div class="col-md-10">
                <input type="text" name="money" class="form-control" min="1" step="any" required />
                <strong style="color:red;">@ViewBag.statusBalance</strong>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">  Nhap tai khoan nhan: </label>
            <div class="col-md-10">
                <input type="text" name="idReceiver" class="form-control" id="Receive" autocomplete="off" required />
                <span id="ReceiveName" style="color:grey;"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Nhap message: </label>
            <div class="col-md-10">
                <input type="text" name="mess" class="form-control" autocomplete="off" value="@ViewBag.Mess" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Nhap OTP: </label>
            <div class="col-md-10">
                <input type="text" name="OTP" class="form-control" required />
            </div>
            <strong style="color:red;">@ViewBag.statusOTP</strong>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Chuyển Tiền" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
       $("#Receive").on('change',function () {
           var idRecive = $("#Receive").val()
           $.get("/Accounts/getCustomer/" + idRecive, function (data) {
               console.log(data);
               $("#ReceiveName").append(data);
});
       });

</script>
